{{ define "body" }}

<div class="jumbotron">
    <h1 class="display-4">Home</h1>

    <p class="lead">Content Links:</p>

    <div>
        <ul class="list-group">
            {{range .Pages}}
                <a href="/view/{{.Filename}}">
                    <li class="list-group-item">
                        <div>
                            {{.Title}}<br>
                            <div>
                                <code>{{printf "%s" .Body}}</code>
                            </div>
                        </div>
                    </li>
                </a>
            {{end}}
        </ul>
    </div>

    <hr class="my-4">
    
    <div>
        <a href="/new/"><button type="button" class="btn btn-outline-primary btn-sm">Create a New Page</button></a>
    </div>
</div>
{{ end }}